.u-section-1 .u-sheet-1 {
  min-height: 226px;
}

.u-section-1 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 32px auto 54px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1359px;
}

.u-section-2 .u-text-1 {
  margin: 67px 44px 0 88px;
}

.u-section-2 .u-text-2 {
  margin: 107px 27px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -1056px auto 60px 34px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1375px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 88px;
    margin-right: auto;
    margin-left: -39px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: -48px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 236px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4236px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: 40px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 972px;
}

.u-section-3 .u-text-1 {
  width: 302px;
  margin: 55px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 55px 18px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: -700px auto 60px 80px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 92px;
    margin-right: auto;
    margin-left: -38px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: -18px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2518px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: 38px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 670px;
}

.u-section-4 .u-text-1 {
  margin: 44px 331px 0 360px;
}

.u-section-4 .u-text-2 {
  margin: 84px auto 60px 75px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-4 .u-text-1 {
    width: 472px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 74px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 121px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 40px;
    margin-right: 38px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 38px;
    margin-right: 0;
  }
}